@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Indie+Flower|Muli&display=swap');

:root {
    font-family: 'Architects Daughter', cursive;
} 

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 27px;
    margin-top: 17px;
}

.container {
    background-image: url(../img/background2.jpg);
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Architects Daughter', cursive;
    max-width: 980px;
    margin: auto;
}

.containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 775px) {
    .pos-f-t {
        display: none;
    }
}

.logo h1{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 200px;
}

.pos-f-t {
    padding: 4px;
}

.menu {
    display: none;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid transparent;
    padding: 5px;
}

@media (min-width: 775px) {
    .menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 15px;
    }
}

.tel {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerText {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 980px;
    height: auto;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.mobile {
    display: flex;
    flex-direction: column;
}

.textBgr {
    background-image: url(../img/textBgr.jpg);
    width: 270px; 
    height: 250px; 
    border: 3px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.textBgr h3{
    font-family: 'Muli', sans-serif;
    color: black;
    font-size: 20px;
    padding: 0;
}

.textBgr h4{
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    padding: 5px;
}

.textBgrTwo {
    background-image: url(../img/textBgr.jpg);
    width: 270px; 
    height: 320px; 
    border: 3px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.textBgrTwo h3{
    font-family: 'Muli', sans-serif;
    font-size: 15px;
}

.textBgrTwo h2 {
   font-family: 'Architects Daughter', cursive;
        color: black;
        font-size: 20px;
        padding: 1px;
        margin: 1px; 
}

.textBgrThree {
    background-image: url(../img/textBgr.jpg);
    width: 270px; 
    height: 195px; 
    border: 3px;
    border-radius: 10px;
}

.textBgrThree img{
    width: 270px; 
    height: 190px; 
    padding: 10px;
}

.containerTextDesktopAbout {
    display: none;
}

.containerTextDesktop {
    display: none;
}

.containerFooter {
    background-color: rgb(9, 143, 196);
    text-align: center;
    color: white;
    margin-top: 5px;
}

@media (min-width: 775px) {
    .containerText {
        display: none;
    }
}

@media (min-width: 775px) {
    .logo h1{
        font-size: 35px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 775px) {
    .containerTextDesktopAbout {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 980px;
        height: auto;
        text-align: center;
        color: white;
        margin-top: 10px;
        margin-left: 90px;
    }
}

@media (min-width: 775px) {
    .desktop {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 775px) {
    .textBgrDesktop {
        background-image: url(../img/textBgr1.jpg);
        width: 550px; 
        height: 140px; 
        border: 3px;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 120px;
    }
}

@media (min-width: 775px) {
    .textBgrDesktop h3{
        font-family: 'Muli', sans-serif;
        font-size: 18px;
        padding: 0;
    }
}

@media (min-width: 775px) {
    .textBgrDesktop h2{
        color: black;
        padding: 0;
    }
}

@media (min-width: 775px) {
    .textBgrTwoDesktop {
        background-image: url(../img/textBgr.jpg);
        width: 410px; 
        height: 300px; 
        border: 3px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
}

@media (min-width: 775px) {
    .containerTextDesktop {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 980px;
        height: auto;
        text-align: center;
        color: white;
        margin-top: 10px;
    }
}

@media (min-width: 775px) {
    .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
}

@media (min-width: 775px) {
    .textBgrTwoDesktop h3{
        font-family: 'Muli', sans-serif;
        font-size: 15px;
        padding: 2px;
        margin: 5px;
    }
}

@media (min-width: 775px) {
    .textBgrTwoDesktop h2{
        font-family: 'Architects Daughter', cursive;
        color: black;
        font-size: 25px;
        padding: 2px;
        margin: 5px;
    }
}

@media (min-width: 775px) {
    .textBgrThreeDesktop {
        background-image: url(../img/textBgr.jpg);
        width: 400px; 
        height: 300px; 
        border: 3px;
        border-radius: 10px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
}

@media (min-width: 775px) {
    .textBgrThreeDesktop img{
        width: 390px; 
        height: 290px; 
        padding: 10px;
    }
}

.textFotter h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    margin-top: -5px;
}