@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Indie+Flower|Muli&display=swap');

:root {
    font-family: 'Architects Daughter', cursive;
} 

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 27px;
    margin-top: 17px;
}

.container {
    background-image: url(../img/background2.jpg);
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Architects Daughter', cursive;
    max-width: 980px;
    margin: auto;
}

.containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.pos-f-t {
    padding: 4px;
}

.menu {
    display: none;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid transparent;
    padding: 5px;
}

.tel {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerMain {
    font-family: 'Muli', sans-serif;
    text-align: center;
    color: white;
    margin-top: 250px;
    margin-bottom: 310px;
}

.containerMain h2 {
    font-size: 20px;
}

.containerFooter {
    background-color: rgb(9, 143, 196);
    text-align: center;
    color: white;
    margin-top: 5px;
}

.textFotter h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
}

@media (min-width: 750px) {
    .pos-f-t {
        display: none;
    }
}

@media (min-width: 750px) {
    .logo h1 {
        font-size: 35px;
    }
}

@media (min-width: 750px) {
    .menu {
        font-size: 1rem;
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 0;
        margin: 15px;
    }
}